<div class="form-group col-sm-12 book-show appliance-hide computation-hide furniture-hide device-hide computer-hide select-a-type-hide">
  <div class="form-group col-sm-6">
    <%= form.label :writer, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :writer, class: "form-control", id: "inventory_writer" %>
    </div>
  </div>
  <div class="form-group col-sm-6">
    <%= form.label :edition, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :edition, class: "form-control", id: "inventory_edition" %>
    </div>
  </div>
</div>
<div class="form-group col-sm-12 book-show appliance-hide computation-hide furniture-hide device-hide computer-hide select-a-type-hide">
  <div class="form-group col-sm-6">
    <%= form.label :editorial, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :editorial, class: "form-control", id: "inventory_editorial" %>
    </div>
  </div>
  <div class="form-group col-sm-6">
    <%= form.label :number_of_copies, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :copies, class: "form-control", id: "number_of_copies" %>
    </div>
  </div>
</div>
