<%= form_for @inventory, :html => { class: "form-horizontal validate" } do |f| %>
  <%= render "helpers/flash_errors", object: @inventory %>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :team_id, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.collection_select :team_id, Team.all ,:id,:name, {prompt: '- Select a Team -'}, class: "form-control validate[required]" %>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :collaborator_id, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.collection_select :collaborator_id, [] , :id, :full_name, { prompt: '- Select a Collaborator -'}, class: "form-control", data: {value: @inventory.collaborator_id}%>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :name, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.text_field :name, class: ' form-control validate[required]' %>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :brand, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.text_field :brand, class: "form-control validate[required]" %>
      </div>
    </div>
  </div>
 
  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :description, class: "col-sm-4 text-left" %>
      <div class="col-sm-8">
        <%= f.text_area :description, class: "form-control validate[required] custom-textarea" %>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :image, class: "col-sm-4 text-left" %>
      <div class="col-sm-8">
        <%= f.file_field :image, class: "pictureInput" %>
        <% unless @inventory.new_record? %>
          <%= f.label :new_image, id: "endTimeLabel", class: "hidden"%>
        <% end %>
        <div id="target">
        </div>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :register_date, class: "col-sm-4 text-left" %>
      <div class="col-sm-8">
        <%= f.text_field :register_date, class: "datepicker form-control" %>
      </div>
    </div>

    <%if !@inventory.new_record? %>
      <div class="form-group col-sm-6">
        <%= f.label :current_image, class: "col-sm-4 text-left"%>
        <div class="col-sm-6">
          <%= image_tag inventory.image.url(:medium), class: "image" %>
        </div>
      </div>
    <%end%>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :type, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.select :type, class_enum_for_select("Inventory", "type"), {prompt: '- Select a Type -'}, class: "form-control validate[required]", id: "inventory_type_id" %>
      </div>
    </div>
    <div class="form-group col-sm-6 book-hide appliance-hide computation-hide furniture-hide device-show computer-show select-a-type-hide">
      <%= f.label :operating_system_id, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.collection_select :operating_system_id, [], :id,:name, {prompt: '- Select a Operating System -'}, class: "form-control", id: "operating_system_id", data: {value: @inventory.operating_system_id} %>
      </div>
    </div>
  </div>

  <%= render "book_fields", form: f %>
  <%= render "electronic_fields", form: f %>
  <%= render "computer_fields", form: f %>
  <%= render "device_fields", form: f %>

  <div class="form-group">
    <div class="col-md-10 col-sm-10 col-xs-12">
      <div class="col-sm-12 text-right">
        <%= f.submit "Save" , class: "btn btn-primary"%> <%= link_to 'Cancel', inventories_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>