<h2 class="page-header">Familiar Information</h2>
<%= form.label :has_family_or_dependents? , class: "col-sm-4 text-left" %>
  <div class="col-sm-6">
 <div class="form-group col-sm-12">
   <label class="radio-inline"><%= radio_button_tag :has_family, "yes" %>Yes</label>
    <label class="radio-inline"><%= radio_button_tag :has_family, "no" %>No</label>
  </div>
</div>
<div class="form-group col-sm-12">
  <%= form.label :has_partner? , class: "col-sm-4 text-left" %>
  <div class="col-sm-6">
    <label class="radio-inline"><%= radio_button_tag :has_partner, "yes" %>Yes</label>
    <label class="radio-inline"><%= radio_button_tag :has_partner, "no" %>No</label>
  </div>  
</div>
<div class="form-group col-sm-12">
  <%= form.label :has_children? , class: "col-sm-4 text-left" %>
  <div class="col-sm-6">
    <label class="radio-inline"><%= radio_button_tag :has_children, "yes" %>Yes</label>
    <label class="radio-inline"><%= radio_button_tag :has_children, "no" %>No</label>
  </div>
</div>
<%= form.fields_for :collaborator do |c| %>
  <%= c.fields_for :spouse_relationship do |r| %>
    <h3 class="page-header">Spouse</h3>
    <%= r.fields_for :spouse do |p| %>
      <%= render "collaborators/forms/person", form: p %>
    <% end %>
  <% end %>
<% end %>
<%= form.fields_for :collaborator do |c| %>
  <h3 class="page-header">Children</h3>
  <%= c.fields_for :children_relationships do |r| %>
    <%= r.fields_for :children do |p| %>
      <%= render "collaborators/forms/person", form: p %>
    <% end %>
  <% end %>
  <%= c.link_to_add "Add a children", :children_relationships %>
<% end %>
