<div class="modal fade" id="delete_invoice_modal_<%=invoice.id%>" tabindex="-1" role="dialog" aria-labelledby="timesheetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="timesheetModalLabel"> <strong> Tell us why </strong></h4>
      </div>
      <div id="delete-invoice-form" class="modal-body">
        <%= form_tag deletion_reason_invoices_management_country_invoices_path, method: :get, remote: true do %>
          <div class="input-padding">
            <div class="form-group col-sm-12">
              <%= label_tag :reason, "Reason", class: "col-sm-2 text-left" %>
              <div class="col-sm-10">
                <div class="field">
                  <%= text_area_tag :message, '', :rows => "5", :class => "form-control text-area-style"%>
                </div>
              </div>
            </div>
          </div>
          <%= hidden_field_tag 'id', invoice.id %>
          <br>
          <div class="text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= link_to 'Delete'.html_safe,invoices_management_country_invoice_path(@headquarter.country, invoice), method: :delete , title: "Delete", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>