<%=  nested_form_for([:invoices_management, @headquarter.country, @invoice], html: {id: "form_invoice", role: "form", class: "form-horizontal validate", multipart: true}) do |f|  %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :client_id, class: "col-sm-4 text-left" %>
      <div class="col-sm-6 autocomplete-field">
        <%= autocomplete_field_tag 'invoice_client', (@invoice.client.name unless @invoice.client.nil?) , autocomplete_client_name_invoices_management_country_invoices_path, :id_element => '#client_id_field', class: "form-control validate[required]" %>
        <%= f.hidden_field :client_id, :id => "client_id_field" %>
      </div>
    </div>
  
    <div class="form-group col-sm-6">
      <%= label_tag :address, nil, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= text_field_tag :address_textfield, (@invoice.client.address unless @invoice.client.nil?), readonly: true, class: "form-control" %>    
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%if @headquarter.is_peru? %>
        <%= label_tag :legal_id, "RUC", class: "col-sm-4 text-left" %>
      <%else%>
        <%= label_tag :legal_id, "Nro Legal ID", class: "col-sm-4 text-left" %>
      <%end%>
      <div class="col-sm-6">
        <%= text_field_tag :legal_id_textfield, (@invoice.client.legal_id unless @invoice.client.nil?), readonly: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <%= label_tag :corporate_name, "Corporate name", class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= text_field_tag :corporate_name_textfield, (@invoice.client.corporate_name unless @invoice.client.nil?), readonly: true, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :invoice_number, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.text_field :invoice_number, class: "form-control validate[required]" %>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :description, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%if @headquarter.is_peru? %>
          <%= f.text_area :description, class: "form-control custom-textarea" %>
        <% else %>
          <%= f.text_field :description, class: "form-control" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <% if @headquarter.is_peru? and @invoice.new_record? %> 
      <div class="form-group col-sm-6">
        <%= f.label :currency, class: "col-sm-4 text-left" %>
        <div class="col-sm-6 text-left">
          <%= f.collection_select :currency, currencies_array, :id, :name,  {prompt: '- Select a currency -'}, class: "form-control validate[required]" %>
        </div>
      </div>
    <%end%>

    <div class="form-group col-sm-6">
      <%= f.label :amount, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.text_field :amount, class: "form-control validate[required, custom[money]]" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :status, class: "col-sm-4 text-left" %>
      <div class="col-sm-6 text-left">
        <%= f.collection_select :status, status_array,  :id, :name, {prompt: '- Select a status -'}, class: "form-control validate[required]" %>
      </div>
    </div>

    <%if @headquarter.is_peru? %>
      <div class="form-group col-sm-6">
        <label class="col-sm-4 text-left">
          <%= f.check_box :has_drawdown %>
          Seal Drawdown
        </label>
      </div>
    <%end%>
  </div>

  <%if @headquarter.is_peru? %>
    <%if @invoice.new_record? %>
      <div class="form-group col-sm-12">
        <div class="form-group col-sm-6">
          <%= f.label :reference, class: "col-sm-4 text-left" %>
          <div class="col-sm-8">
            <%= f.text_field :extra, class: "form-control" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group col-sm-12">
      <div class="form-group col-sm-6">
      <%= f.label :invoice_copy, class: "col-sm-4 text-left" %>
        <div class="col-sm-6">
          <%= f.file_field :document, class: "form-control" %>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <%= f.label :purchase_order, class: "col-sm-4 text-left" %>
        <div class="col-sm-6">
          <%= f.file_field :purchase_order, class: "form-control" %>
        </div>
      </div>
    </div>
  <%end%>

  <% if @headquarter.is_peru? || (!@headquarter.is_peru? && @invoice.new_record?) %>
    <div class="form-group col-sm-12">
      <div class="form-group col-sm-6">
        <%= f.label :contacts, class: "col-sm-4 text-left" %>
        <div id="contacts-fields" class="col-sm-6 <%= 'hide' if @invoice.client.nil? %>">
          <%= f.fields_for :invoice_contacts do |r| %>
            <% unless @invoice.client.nil? %>
              <div class="form-group col-sm-12">
                <%= r.collection_select(:contact_id, @invoice.client.contacts, :id, :name, { :include_blank => 'Select contact' }, {:class => "form-control"} ) %>
                <%= r.link_to_remove "Remove" %>
              </div>
            <% end %>
          <% end %>
          <%= f.link_to_add '<i class="glyphicon glyphicon-plus"></i> Add'.html_safe, :invoice_contacts, class: "col-sm-1" %>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <%= f.label :message, class: "col-sm-4 text-left" %>
        <div class="col-sm-6">
          <%= f.text_area :message, class: "form-control custom-textarea" %>
        </div>
      </div>
    </div>
  <%end%>

  <div class="form-group">
    <div class="col-md-10 col-sm-10 col-xs-12">
      <div class="col-sm-12 text-right">
        <%= f.submit "Save" , class: "btn btn-primary", id: "save-btn" %> <%= link_to 'Cancel', invoices_management_country_invoices_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#invoice_client').bind('railsAutocomplete.select', function(event, data){
    var client_selected_id = data.item.id;
    var client_path = "<%= client_path('client_id')%>";
    client_path = client_path.replace('client_id',client_selected_id);
    $.ajax({
      type: 'GET',
      dataType: "json",
      url: client_path,
      success: function( response ){
        $('#address_textfield').val(response["address"]);
        $('#legal_id_textfield').val(response["legal_id"]);
        $('#corporate_name_textfield').val(response["corporate_name"]);
        $('.fields').remove();
        var blueprint = '<div class="fields"><div class="form-group col-sm-12"><select class="form-control" name="invoice[invoice_contacts_attributes][new_invoice_contacts][contact_id]" id="invoice_invoice_contacts_attributes_new_invoice_contacts_contact_id"><option value="">Select contact</option>';
        $.each(response['contacts'], function (index, contact){
          blueprint += '<option value="' + contact["id"] + '">' + contact["name"] + '</option>';
        });
        blueprint += '</select><input type="hidden" value="false" name="invoice[invoice_contacts_attributes][new_invoice_contacts][_destroy]" id="invoice_invoice_contacts_attributes_new_invoice_contacts__destroy" /><a class="remove_nested_fields" data-association="invoice_contacts" href="javascript:void(0)">Remove</a></div></div>';
        $('#invoice_contacts_fields_blueprint').data('blueprint', blueprint);
        $('#contacts-fields').removeClass('hide');
      }
    });
  });
</script>