<%=  nested_form_for([:invoices_management, @headquarter.country, @invoice], html: {id: "form_invoice", role: "form", class: "form-horizontal validate", data: {action: params[:action]}, multipart: true}) do |f|  %>
  <%= render "helpers/flash_errors", object: @invoice %>
  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6 country">
      <%= f.label :client_id, class: "col-sm-4 text-left" %>
      <div class="col-sm-6 autocomplete-field">
        <input class="search_typeahead form-control typeahead canceled-disable partial-payment-disable paid-disable" type="text" value="<%=@invoice.client_name%>">
        <%= f.hidden_field :client_id, class: "clients-typeahead-id", id:"hidden_field" %>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :address, nil, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= text_field_tag :address_textfield, (@invoice.client.address unless @invoice.client.nil?), readonly: true, class: "form-control clients-typeahead-address " %>    
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%if @headquarter.is_peru? %>
        <%= label_tag :legal_id, "RUC", class: "col-sm-4 text-left" %>
      <%else%>
        <%= label_tag :legal_id, "Nro Legal ID", class: "col-sm-4 text-left" %>
      <%end%>
      <div class="col-sm-6">
        <%= text_field_tag :legal_id_textfield, (@invoice.client.legal_id unless @invoice.client.nil?), readonly: true, class: "form-control clients-typeahead-legal-id " %>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <%= label_tag :corporate_name, "Corporate name", class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= text_field_tag :corporate_name_textfield, (@invoice.client.corporate_name unless @invoice.client.nil?), readonly: true, class: "form-control clients-typeahead-corporate-name" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :invoice_number, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.text_field :invoice_number, class: "form-control validate[required] to-issue-show issued-disable paid-disable canceled-disable partial-payment-disable" %>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :description, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%if @headquarter.is_peru? %>
          <%= f.text_area :description, class: "form-control custom-textarea to-issue-show issued-disable paid-disable canceled-disable partial-payment-disable" %>
        <% else %>
          <%= f.text_field :description, class: "form-control to-issue-show issued-disable paid-disable canceled-disable partial-payment-disable" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :currency_id, class: "col-sm-4 text-left" %>
      <div class="col-sm-6 text-left" >
        <%= f.collection_select :currency_id, Currency.all, :id, :name, {prompt: "- Select type -"}, class: "form-control" %>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :amount, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.text_field :amount, class: "form-control validate[required, custom[money]] to-issue-show issued-disable paid-disable canceled-disable partial-payment-disable" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6 ">
      <%= f.label :status, class: "col-sm-4 text-left" %>
      <div class="col-sm-6 text-left">
        <%= f.select :status, class_enum_for_select("Invoice","status"),{prompt: "- Select type -"}, class: "form-control" %>
      </div>
    </div>

      <div class="form-group col-sm-6 peru-show united-states-hide">
        <label class="col-sm-4 text-left">
          <%= f.check_box :has_drawdown, class: "to-issue-show issued-disable paid-disable canceled-disable partial-payment-disable" %>
          Seal Drawdown
        </label>
      </div>
  </div>

  <div class="form-group col-sm-12 peru-show united-states-hide">
    <div class="form-group col-sm-6">
      <%= f.label :reference, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.text_field :extra, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12 peru-show united-states-hide">
    <div class="form-group col-sm-6 to-issue-show">
      <%= f.label :purchase_order, class: "col-sm-4 text-left" %>
      <div class="col-sm-6 ">
        <%= f.file_field :purchase_order, class: "form-control to-issue-show issued-disable paid-disable canceled-disable partial-payment-disable" %>
      </div>
      <div class="col-sm-6 <%= "hide" if params[:action] == "new" %>" id="download_pdf">
       <%= link_to_if @invoice.purchase_order.nil?, '<i class="fa fa-picture-o"></i> Show'.html_safe,  @invoice.purchase_order.url %>
      </div>
    </div>
    <div class="form-group col-sm-6 to-issue-hide issued-show paid-show partial-payment-show canceled-show">
      <%= f.label :invoice_copy, class: "col-sm-4 text-left" %>
      <div class="col-sm-6 ">
        <%= f.file_field :document, class: "form-control to-issue-disable issued-show paid-disable canceled-disable partial-payment-disable" %>
      </div>
      <div class="col-sm-6 <%= "hide" if params[:action] == "new" %>" id="download_pdf">
        <%= link_to_if @invoice.document.nil?, '<i class="fa fa-picture-o"></i> Show'.html_safe, @invoice.document.url %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12 peru-show united-states-hide">
    <div class="form-group col-sm-6">
      <%= f.label :contacts, class: "col-sm-4 text-left hide", id: "contact-label" %>
      <div id="contacts-fields" class="col-sm-6 hide" data-country="<%= params[:country_id]%>" data-invoice="<%= @invoice.id %>">
      </div>
    </div>

    <div class="form-group col-sm-6 peru-show united-states-hide">
      <%= f.label :message, class: "col-sm-4 text-left" %>
      <div class="col-sm-6 to-issue-show">
        <%= f.text_area :message, class: "form-control custom-textarea to-issue-show issued-disable paid-disable canceled-disable partial-payment-disable" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12 peru-show united-states-hide">
    <div class="form-group col-sm-6 to-issue-hide issued-show paid-show partial-payment-show canceled-show <%= "hide" if params[:action] == "new" %>" id='billing_date'>
      <%= f.label :billing_date, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.text_field :billing_date, class: "datepicker form-control validate[required, date] to-issue-disable issued-show paid-disable partial-payment-disable canceled-disable", data: {"date-start-date" => "0d"} %>
      </div>
    </div>
    <div class="form-group col-sm-6 to-issue-hide issued-show paid-show partial-payment-show canceled-show <%= "hide" if params[:action] == "new" %>" id='expiration_date'>
      <%= f.label :expiration_date, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.text_field :expiration_date, class: "datepicker form-control validate[required, date] to-issue-disable issued-show paid-disable partial-payment-disable canceled-disable", data: {"date-start-date" => "0d"} %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12 peru-show united-states-hide to-issue-hide issued-hide paid-hide partial-payment-hide canceled-show <%= "hide" if params[:action] == "new" %>" id="cancel_reason">
    <div class="form-group col-sm-6 to-issue-show issued-show paid-show partial-payment-show canceled-hide <%= "hide" if params[:action] == "new" %> ">
      <%= f.label :payment_type, class: "col-sm-4 text-left" %>
      <div class="col-sm-6 text-left">
      </div>
    </div>
    <div class="form-group col-sm-6  <%= "hide" if params[:action] == "new" %>">
        <%= f.label :reason, class: "col-sm-4 text-left" %>
        <div class="col-sm-6">
          <%= f.text_area :reason, class: "form-control custom-textarea validate[required]" %>
        </div>
      </div>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-sm-10 col-xs-12">
      <div class="col-sm-12 text-right">
        <%= f.submit "Save" , class: "btn btn-primary", id: "save-btn" %> <%= link_to 'Cancel', invoices_management_country_invoices_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">

  $('#invoice_expiration_date, #invoice_billing_date').datepicker({
    format: "yyyy-mm-dd",
    autoclose: true,
    todayHighlight: true
  });
</script>