<%= form_tag invoices_management_country_invoices_path(:country_id => @headquarter.country.friendly_id), method: :get, remote: true do %>
  <div class="row form-group">
    <div class="col-sm-4">
      <div class="col-sm-4">
        <%= label_tag :company, "Company", class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :company, nil, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-4">
        <%= label_tag :from_date, 'From Date', class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :from_date, nil, class: 'datepicker form-control' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-4">
        <%= label_tag :to_date, 'To Date', class: "control-tag control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :to_date, nil, class: 'datepicker form-control' %>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <%if @headquarter.is_peru? %>
      <div class="col-sm-4">
        <div class="col-sm-4">
          <%= label_tag :legal_id, "RUC", class: "text-left" %>
        </div>
        <div class="col-sm-8">
          <%= text_field_tag :legal_id, nil, class: "form-control" %>
        </div>
      </div>
    <% end %>
    <div class="col-sm-4">
      <div class="col-sm-4">
        <%= label_tag :invoice_number, "Nº Invoice", class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :invoice_number, nil, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-4">
        <%= label_tag :status, nil, class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= select_tag :status, options_for_select(class_enum_for_select("Invoice","status")), prompt: "- Select a status -", class: 'form-control ' %>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <input class="btn btn-default pull-right" type="submit" value="Search">
      </div>
    </div>
  </div>  
<% end %> 