<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Nro</th>
        <th>Company</th>
        <th>RUC</th>
        <th>Address</th>
        <th>Drawdown</th>
        <th>Expiration Date</th>
        <th>Billing Date</th>
        <th>Currency</th>
        <th id="amount-cell">Amount</th>
        <th>Status</th>
        <th>IGV</th>
        <th>Total</th>
        <th></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.invoice_number %></td>
          <td><%= invoice.client.name %></td>
          <td><%= invoice.client.legal_id %></td>
          <td><%= invoice.client.address %></td>
          <td><%= human_boolean invoice.has_drawdown? %></td>
          <td><%= date_format invoice.expiration_date %></td>
          <td><%= date_format invoice.billing_date %></td>
          <td><%= Currency.find(invoice.currency).name %></td>
          <td><%= invoice.amount_decimal %></td>
          <td><%= Status.find(invoice.status).name %></td>
          <td><%= invoice.invoice_igv %></td>
          <td><%= invoice.invoice_total %></td>
          <td></td>
          <td>  
            <%= link_to nil, '', :data => { :toggle => "modal", :target => "#send_invoice_modal_#{invoice.id}" }, class: "btn btn-primary glyphicon glyphicon-envelope"%>
            <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_invoices_management_country_invoice_path(@headquarter.country, invoice), class: "btn btn-default btn-sm", data: { "toggle" => "tooltip" }, title: "Edit" %>
            <%= link_to '<span class="glyphicon glyphicon-file"></span>'.html_safe, invoices_management_country_invoice_path(@headquarter.country, invoice, :format => "pdf"), :data => { :toggle => "tooltip" }, title: 'PDF', :target => "_blank", class: "btn btn-default btn-sm" %>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, '', :data => {params: params, :toggle => "modal", :target => "#delete_invoice_modal_#{invoice.id}" }, title: 'Delete', class: "btn btn-default btn-sm" %>
          </td>
        </tr>
        <%= render 'send_mail_modal', invoice: invoice %>
        <%= render 'deletion_reason_modal', invoice: invoice %>
      <% end %>
    </tbody>
  </table>

  <div id="search_total">
    <div id="total_soles">
      <div class="soles-info">
        <label class="soles-label">Total(Nuevos Soles)</label>
        <span class="soles-detail"><%= @total_invoices_soles %></span>
      </div>
    </div>
    <div id="total_dollars">
      <div class="dollar-info">
        <label class="dollar-label">Total(Dollars)</label>
        <span class="dollar-detail"><%= @total_invoices_dollar %></span>
      </div>
    </div>
  </div>
</div>
