<div class="table-responsive">
	<table class="table table-hover table-striped">
		<thead>
			<th>Nro</th>
			<th>Company</th>
			<th>Nro Legal ID</th>
			<th>Address</th>
			<th>Amount</th>
			<th>Status</th>
			<th>Date</th>
			<% if !@headquarter.is_peru? %>
				<th>Expiration Date</th>
				<th>Drawdown</th>
				<th>Currency</th>
				<th>IGV</th>
				<th>Total</th>
			<% end %>
			<th>Actions</th>
		</thead>
		<tbody>
			<% invoices.each do |invoice| %>
				<tr>
					<td><%= invoice.invoice_number %></td>
          <td><%= invoice.client_name %></td>
          <td><%= invoice.client_legal_id %></td>
          <td><%= invoice.client_address %></td>
          <td><%= invoice.amount_decimal%></td>
          <td><%= invoice.status%></td>
          <td><%= invoice.created_at.to_date%></td>
          <% if !@headquarter.is_peru? %>
          	<td><%= invoice.expiration_date.to_date unless invoice.expiration_date.blank? %></td>
          	<%if invoice.has_drawdown %>
            	<td>Yes</td>
          	<%else%>
            	<td>No</td>
          	<%end%>
          	<td><%= Currency.find(invoice.currency).name %></td> 
          	<td><%= invoice.invoice_igv %></td>
          	<td><%= invoice.invoice_total %></td>
          <% end %>
          <td>
	          <%= link_to nil, '', :data => { :toggle => "modal", :target => "#send_invoice_modal_#{invoice.id}" }, class: "btn btn-primary glyphicon glyphicon-envelope"%>
	          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_invoices_management_country_invoice_path(@headquarter.country, invoice), class: "btn btn-default btn-sm", data: { "toggle" => "tooltip" }, title: "Edit" %>
	          <%= link_to '<span class="glyphicon glyphicon-file"></span>'.html_safe, invoices_management_country_invoice_path(@headquarter.country, invoice, :format => "pdf"), :data => { :toggle => "tooltip" }, title: 'PDF', :target => "_blank", class: "btn btn-default btn-sm" %>
          </td>
				</tr>
				<%= render 'send_mail_modal', invoice: invoice %>
        <%= render 'deletion_reason_modal', invoice: invoice %>
      <% end %>
		</tbody>
	</table>
</div>

<!-- ToDo: Falta calcular los totales y mostarlos debajo -->

