<%= form_for @person, url: path, method: method, :html => { class: "form-horizontal validate" } do |f| %>
  <%= render "helpers/flash_errors", object: @person %>
  <%= render "helpers/flash_errors", object: @collaborator %>

  <ul class="nav nav-tabs" role="tablist">
    <% collaborator_tabs.each do |tab| %>
      <li role="presentation">
        <a href="#<%=tab.dasherize%>" aria-controls="<%=tab.dasherize%>" role="tab" data-toggle="tab"><%= tab.humanize %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% collaborator_tabs.each do |tab| %>
      <div role="tabpanel" class="tab-pane" id="<%=tab.dasherize%>">
        <%= render tab, form: f %>
      </div>
    <% end %>
    <div class="form-group">
      <div class="col-md-10 col-sm-10 col-xs-12">
        <div class="col-sm-12 text-right">
          <%= f.submit "Save" , class: "btn btn-primary"%> <%= link_to 'Cancel', collaborators_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>

<% end %>