<h2 class="page-header">General Information</h2>
<div class="form-group col-sm-12">
  <div class="form-group col-sm-6">
    <%= form.label :first_name, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :first_name, class: "form-control validate[required]" %>
    </div>
  </div>
  <div class="form-group col-sm-6">
    <%= form.label :last_name, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :last_name, class: "form-control validate[required]" %>
    </div>
  </div>
</div>

<div class="form-group col-sm-12">
  <div class="form-group col-sm-6">
    <%= form.label :dni, "DNI", class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :dni, class: "form-control validate[required,custom[validDNI]]" %>
    </div>
  </div>
  <div class="form-group col-sm-6">
    <%= form.label :dni_scan, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= render "helpers/file_field_with_preview", file_field: :dni_scan, form: form %>
    </div>
  </div>
</div>

<div class="form-group col-sm-12">
  <% if @person.dni_scan? %>
    <div class="form-group col-sm-6"></div>
    <div class="form-group col-sm-6">
      <%= form.label :current_file, class: "col-sm-4 text-left"%>
      <div class="col-sm-6">
        <%= render "helpers/preview_file", object: @person, file: :dni_scan %>
      </div>
    </div>
  <% end %>
</div>

<div class="form-group col-sm-12">
  <div class="form-group col-sm-6">
    <%= form.label :birthday, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :birthday, class: "datepicker form-control validate[required]" %>
    </div>
  </div>
  <div class="form-group col-sm-6">
    <%= form.label :personal_email, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :email, class: "form-control validate[required,custom[email]]" %>
    </div>
  </div>
</div>

<div class="form-group col-sm-12">
  <div class="form-group col-sm-6">
    <%= form.label :civil_status, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= render "helpers/radio_buttons", model_name: "Person", enum: "civil_status", form: form %>
    </div>
  </div>
  <div class="form-group col-sm-6">
    <%= form.label :gender, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= render "helpers/radio_buttons", model_name: "Person", enum: "gender", form: form %>
    </div>
  </div>
</div>

<div class="form-group col-sm-12">
  <div class="form-group col-sm-6">
    <%= form.label :address, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group col-sm-6">
    <%= form.label :skype, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :skype, class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group col-sm-12">
  <div class="form-group col-sm-6">
    <%= form.label :phone, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :phone, class: "form-control validate[custom[customPhone]]" %>
    </div>
  </div>
  <div class="form-group col-sm-6">
    <%= form.label :mobile_phone, class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= form.text_field :mobile, class: "form-control validate[required,custom[customMobile]]" %>
    </div>
  </div>
</div>
