<%= form_tag collaborators_path, class: "validate", method: :get, remote: true do %>
  <div class="row form-group">
    <div class="col-sm-6">
      <div class="col-sm-4">
        <%= label_tag :first_name, nil, class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :first_name, nil, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-4">
        <%= label_tag :birthday_month, nil, class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= select_month nil, {prompt: "- Select a month -"}, class: "form-control", name: :birthday_month %>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-6">
      <div class="col-sm-4">
        <%= label_tag :last_name, nil, class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :last_name, nil, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-4">
        <%= label_tag :start_date, "Starting month", class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :start_date, nil, class: 'month-datepicker form-control' %>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <input class="btn btn-default pull-right" type="submit" value="Search">
      </div>
    </div>
  </div>
<% end %> 