<%= form_tag clients_path, class: "validate", method: :get, remote: true do %>
  <div class="row form-group">
    <div class="col-sm-5">
      <div class="col-sm-4">
        <%= label_tag :name, "Client", class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :name, nil, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="col-sm-4">
        <%= label_tag :legal_id, "Legal Identification", class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :legal_id, nil, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="col-sm-12">
          <input class="btn btn-default pull-right" type="submit" value="Search">
      </div>
    </div>
  </div>
<% end %>