<%= nested_form_for([@prospect,@quotation], html: {id: "form_quotation", role: "form", class: "form-horizontal validate"}) do |f| %>
  <% if @quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>
      <ul>
      <% @quotation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-12">
    <%= f.label "currency" , class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.collection_select :currency, currencies_array, :id, :name,  {prompt: 'Select currency'}, class: "form-control validate[required]" %>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <% ["developer", "designer", "account"].each do |entity| %>
      <%= f.label "#{entity}_price_per_hour" , class: "col-sm-2 control-label" %>
      <div class="col-sm-2">
        <%= f.number_field "#{entity}_price_per_hour", class: "form-control validate[required]", id: "quotation_#{entity}_price_per_hour", min: "0", step: "0.1" %>
      </div>
    <% end %>
  </div>

  <div class="form-group col-sm-12">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Estimation</th>
            <th>People</th>
            <th>Hours per day</th>
            <th>Days estimated</th>
            <th>Days to send</th>
            <th>Hours estimated</th>
            <th>Hours to send</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% index = 0 %>
          <%= f.fields_for :quotation_estimations do |qe| %>
            <% estimation = @estimations[index] %>
            <tr style='background-color: #f5f5f5'>
              <td><%= estimation.technology.name %></td>
              <% 7.times do %>
                <td></td>
              <% end %>
            </tr>
              <% ["developer", "designer", "account"].each do |entity| %>
                <tr style='background-color: #f5f5f5'>
                  <td><b><%= entity.capitalize.pluralize %></b></td></tr>
                <tr style='background-color: white'>
                  <td></td>
                  <td class='developers'><%= estimation.send("#{entity}s") %></td>
                  <td class="estimation_hours_per_day"><%= estimation.send("#{entity}_hours_per_day") unless entity == "account"%></td>
                  <td><%= estimation.send("#{entity}_days") unless entity == "account" %></td>
                  <td><%= qe.number_field "#{entity}_days_est", class: "form-control #{entity}_days_est validate[required]", min: "0", step: "0.1", "readonly" => false unless entity == "account" %></td>
                  <td><%= estimation.send("#{entity}_hours") %></td>
                  <td><%= qe.number_field "#{entity}_hours_est", class: "form-control #{entity}_hours_est validate[required]", min: "0", step: "0.1", "readonly" => false %></td>
                  <%= qe.hidden_field :estimation_id, :value => estimation.id, class:"form-control" %>
                  <td><%= qe.text_field "#{entity}_price", class: "form-control sub #{entity}_price", "readonly" => true %></td>    
                </tr>
              <% end %>
            <% index += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-group col-sm-8">
    <%= f.label :total , class: "col-sm-4 text-left" %>
    <div class="col-sm-6">
      <%= f.number_field :total, class: "form-control", "readonly" => true, step: "0.1"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-sm-12 text-right">
        <%= f.submit "Save", class: "btn btn-primary", id: "save-btn" %> <%= link_to 'Cancel', prospect_quotations_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>

<% end %>

<script>
  $(document).ready(function() {
    quotation();
    <% if params["controller"] == "quotations" && params["action"] == "new" %>
      $("input.validate\\[required\\]").val('')
      $("#quotation_total, .sub").val('0')
    <% end %>
  })

</script>
