<%= form_for @person, url: path, method: method, :html => { class: "form-horizontal validate" } do |f| %>
  <%= render "helpers/flash_errors", object: @contact %>
  <%= render "helpers/flash_errors", object: @person %>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :first_name, class: "col-sm-4 text-left" %>
      <div class="col-sm-8">
        <%= f.text_field :first_name, class: "form-control validate[required]" %>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :last_name, class: "col-sm-4 text-left" %>
      <div class="col-sm-8">
        <%= f.text_field :last_name, class: "form-control validate[required]" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :phone, class: "col-sm-4 text-left" %>
      <div class="col-sm-8">
        <%= f.text_field :phone, class: "form-control validate[custom[customPhone]]" %>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :extension, class: "col-sm-4 text-left" %>
      <div class="col-sm-8">
        <%= f.text_field :extension, class: "form-control validate[custom[customPhone]]" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :mobile, class: "col-sm-4 text-left" %>
      <div class="col-sm-8">
        <%= f.text_field :mobile, class: "form-control validate[custom[customMobile]]" %>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :email, class: "col-sm-4 text-left" %>
      <div class="col-sm-8">
        <%= f.text_field :email, class: "form-control validate[required,custom[email]]" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :position, class: "col-sm-4 text-left" %>
      <div class="col-sm-8">
        <%= f.collection_select :position_id, Position.all, :id,:name, { prompt: '- Select a Position -' }, class: "form-control" %>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <%= f.label :birthday, class: "col-sm-4 text-left" %>
      <div class="col-sm-8">
        <%= f.text_field :birthday, class: "datepicker form-control validate[date]" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <%= f.fields_for :contact do |c| %>
      <div class="form-group col-sm-6">
        <%= c.label :client_id, class: "col-sm-4 text-left" %>
        <div class="col-sm-8">
          <input class="search_typeahead form-control typeahead validate[required]" type="text" id="person_client_name" value="<%= @person.client_name %>">
          <%= c.hidden_field :client_id, class: "clients-typeahead-id" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-sm-10 col-xs-12">
      <div class="col-sm-12 text-right">
        <%= f.submit "Save", class: "btn btn-primary" %> <%= link_to 'Cancel', contacts_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>

<% end %>