<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Mobile Phone</th>
        <th>Birthday</th>
        <th>Client</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% contacts.each do |contact| %>
        <tr>
          <td><%= contact.first_name %></td>
          <td><%= contact.last_name %></td>
          <td><%= contact.email %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.mobile %></td>
          <td><%= contact.birthday %></td>
          <td><%= contact.client_name %></td>
          <td>
            <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_contact_path(contact), class: "btn btn-default btn-sm", data: { "toggle" => "tooltip" }, title: "Edit" %>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, [contact], method: :delete ,data: { toggle: "tooltip", confirm: "Are you sure?" }, title: "Delete", class: "btn btn-default btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
