<%= form_for([@prospect,@estimation], html: {id: "form_estimation", role: "form", class: "form-horizontal validate"}) do |f| %>
  <% if @estimation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estimation.errors.count, "error") %> prohibited this estimation from being saved:</h2>

      <ul>
      <% @estimation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-12">
    <%= f.label :technology_id, class: "col-sm-2 text-left" %>
    <div class="col-sm-6">
      <%= f.collection_select :technology_id, Technology.all,:id,:name, {prompt: 'Select a Technology'}, class:"form-control validate[required]" %>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <%= f.label :estimation_type, class: "col-sm-2 text-left" %>
    <div class="col-sm-6">
      <%= f.collection_select :estimation_type, estimation_types_array,:id,:name, {prompt: 'Select a Type'}, class:"form-control validate[required]" %>
    </div>
  </div>

  <div class="developers">
    <h3>Group developers</h3>
      <div class="form-group col-sm-12">
        <%= f.label :developers , class: "col-sm-2 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :developers, class: "form-control validate[required]" %>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <%= f.label :hours_per_day , class: "col-sm-2 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :developer_hours_per_day, class: "form-control validate[required]" %>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <%= f.label :days , class: "col-sm-2 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :developer_days, class: "form-control validate[required]", readonly: true %>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <%= f.label :hours , class: "col-sm-2 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :developer_hours, class: "form-control validate[required]" %>
        </div>
      </div>

  </div>

  <div class="designers">
    <h3>Group designers</h3>
      <div class="form-group col-sm-12">
        <%= f.label :designers , class: "col-sm-2 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :designers, class: "form-control validate[required]" %>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <%= f.label :hours_per_day , class: "col-sm-2 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :design_hours_per_day, class: "form-control validate[required]" %>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <%= f.label :days , class: "col-sm-2 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :design_days, class: "form-control validate[required]", readonly: true %>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <%= f.label :hours , class: "col-sm-2 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :design_hours, class: "form-control validate[required]" %>
        </div>
      </div>
  </div>

  <div class="accounts">
    <h3>Group accounts</h3>
      <div class="form-group col-sm-12">
        <%= f.label :accounts , class: "col-sm-2 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :accounts, class: "form-control validate[required]" %>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <%= f.label :hours , class: "col-sm-2 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :account_hours, class: "form-control validate[required]" %>
        </div>
      </div>
  </div>
  

  <div class="form-group col-sm-12">
    <%= f.label :sent_at , class: "col-sm-2 text-left" %>
    <div class="col-sm-6">
      <%= f.text_field :sent_at, class: "form-control datepicker validate[required]", data: {"date-end-date": "0d"}%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="col-sm-12 text-right">
        <%= f.submit "Save", class: "btn btn-primary", id: "save-btn" %> <%= link_to 'Cancel', prospect_estimations_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
      autoclose: true,
      todayHighlight: true
    });

    var array = ["developer", "design"]

    array.forEach(function(entry){
      var calculate_days = function () {
        var hours = $(this).val();
        var days =  $("#estimation_" + entry + "_days");
        var price_per_hour = $("#estimation_" + entry + "_hours_per_day").val();
        var number_days = hours/price_per_hour;
        if (number_days == 0){
          days.val("");
        }else{
          days.val(number_days);
        }
      }

      $("#estimation_" + entry + "_hours").bind("keyup change", calculate_days);

      var calculate_hours = function () {
        var days = $(this).val();
        var hours =  $("#estimation_" + entry + "_hours");
        var price_per_hour = $("#estimation_" + entry + "_hours_per_day").val();
        var number_days = days*price_per_hour;
        if (number_days == 0){
          hours.val("");
        }else{
          hours.val(number_days);
        }
      }

      $("#estimation_" + entry + "_days").bind("keyup change", calculate_hours);

      if(!$("#estimation_" + entry + "_hours_per_day").val()){
          $("#estimation_" + entry + "_hours").attr('disabled', true);
        }

      var validate_field = function () {
        if($("#estimation_" + entry + "_hours_per_day").val() == null || $("#estimation_" + entry + "_hours_per_day").val() == "" ){
          $("#estimation_" + entry + "_hours").attr('disabled', true);
          $("#estimation_" + entry + "_days").val("")
          $("#estimation_" + entry + "_hours").val("")
        }
        else{
          $("#estimation_" + entry + "_hours").attr('disabled', false);
        }
      }

      $("#estimation_" + entry + "_hours_per_day").bind("keyup change", validate_field);

      
    })

  });
</script> 