<%= nested_form_for([@prospect], html: {id: "form_prospect", role: "form", class: "form-horizontal validate", multipart: true}) do |f|  %>
  <%= render "helpers/flash_errors", object: @prospect %>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :client_id, class: "col-sm-4 text-left" %>
      <div class="col-sm-6 autocomplete-field">
        <input class="search_typeahead form-control typeahead" type="text" value=<%= @prospect.client.nil? ? "" : @prospect.client_name %>>
        <%= f.hidden_field :client_id, class: "clients-typeahead-id" %>
      </div>
    </div>
  
    <div class="form-group col-sm-6">
      <%= label_tag :country, nil, class: "col-sm-4 text-left"%>
      <div class="col-sm-6">
        <%= text_field_tag :country_textfield, (@prospect.client.country.name unless @prospect.client.nil?), readonly: true, class: "form-control clients-typeahead-name" %>    
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= label_tag :address, nil, class: "col-sm-4 text-left"%>
      <div class="col-sm-6">
        <%= text_field_tag :address_textfield, (@prospect.client.address unless @prospect.client.nil?), readonly: true, class: "form-control clients-typeahead-address" %>    
      </div>
    </div>
    <div class="form-group col-sm-6">
      <%= label_tag :legal_id, "Legal Identification", class: "col-sm-4 text-left"%>
      <div class="col-sm-6">
        <%= text_field_tag :legal_id_textfield, (@prospect.client.legal_id unless @prospect.client.nil?), readonly: true, class: "form-control clients-typeahead-legal-id" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :prospect_name, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.text_field :name, class: "form-control validate[required]" %>
      </div>
    </div>
    
    <div class="form-group col-sm-6">
      <%= f.label :type, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.select :type, class_enum_for_select("Prospect","type"), {prompt: '- Select a Type -'}, class: "form-control validate[required]" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :contacts, class: "col-sm-4 text-left" %>
      <div id="contacts-fields" class="col-sm-6 <%= 'hide' if @prospect.client.nil? %>">
        <%= f.fields_for :prospect_contacts do |r| %>
          <% unless @prospect.client.nil? %>
            <div class="form-group col-sm-12">
              <%= r.collection_select(:contact_id, @prospect.client.contacts, :id, :name, { :include_blank => 'Select contact' }, {:class => "form-control validate[required]"} ) %>
              <%= r.link_to_remove "Remove" , id: "remove-contact"%>
            </div>
          <% end %>
        <% end %>
        <%= f.link_to_add '<i class="glyphicon glyphicon-plus"></i> Add'.html_safe, :prospect_contacts, class: "col-sm-1", id: "add-contact" %>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :arrival_date, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.text_field :arrival_date, class: "datepicker form-control", data: {"date-end-date" => "0d"} %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :account_id, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.collection_select :account_id, Collaborator.team_name("Account") ,:id,:name, {prompt: '- Select an Account -'}, class: "form-control validate[required]" %>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :team, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.collection_select :team_id, Team.all, :id, :name, {prompt: '- Select a Team -'}, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :arrival_team_date, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
      <%= f.text_field :arrival_team_date, class: "datepicker form-control" %>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :status, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.select :status, class_enum_for_select("Prospect","status"), {prompt: '- Select a Status -'}, class: "form-control validate[required]" %>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12">
    <div class="form-group col-sm-6">
      <%= f.label :observation, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.text_area :observation, class: "form-control custom-textarea" %>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :approved_at, class: "col-sm-4 text-left" %>
      <div class="col-sm-6">
        <%= f.text_field :approved_at, class: "datepicker form-control", data: {"date-end-date" => "0d"} %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-sm-10 col-xs-12">
      <div class="col-sm-12 text-right">
        <%= f.submit "Save", class: "btn btn-primary", id:"save-btn" %> <%= link_to 'Cancel', prospects_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>