<%= form_tag prospects_path, method: :get, remote: true do %>
  <div class="row form-group">
    <div class="col-sm-4">
      <div class="col-sm-4">
        <%= label_tag :name, nil, class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :name, nil, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-4">
        <%= label_tag :client_name, "Client", class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= text_field_tag :client_name, nil, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-4">
        <%= label_tag :country_id, nil, class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= select_tag :country_id, options_from_collection_for_select(Country.all, "id", "name"), prompt: "- Select country -", class: 'form-control ' %>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-4">
      <div class="col-sm-4">
        <%= label_tag :prospect_type, "Type", class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= select_tag :prospect_type, options_from_collection_for_select(ProspectType.all, "id", "name"), prompt: "- Select type -", class: 'form-control ' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-4">
        <%= label_tag :status, nil, class: "control-tag" %>
      </div>
      <div class="col-sm-8">
        <%= select_tag :status, options_from_collection_for_select(ProspectStatus.all, "id", "name"), prompt: "- Select status -", class: 'form-control ' %>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <input class="btn btn-default pull-right" type="submit" value="Search">
      </div>
    </div>
  </div>
<% end %> 