<!DOCTYPE html>
<html>
  <head>
    <title>Tekton - ERP</title>
    <%= favicon_link_tag 'Tekton_favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <div id="wrapper" data-action="<%= params[:action]%>" data-controller="<%= params[:controller]%>">
    <% else %>
      <div id="wrapper" style="padding-left: 0px">
    <% end %>
        <%= render partial: "navbar" %>
        <div id="page-wrapper">
          <% if user_signed_in? %>
            <ol class="breadcrumb">
              <%= render_breadcrumbs :tag => :li, :separator => "" %>
            </ol>
            <%= render "messages" %>
          <% end %>
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
      </div>
  </body>
</html>