<!DOCTYPE html>
<html>
  <head>
    <title>Tekton - ERP</title>
    <%= favicon_link_tag 'Tekton_favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>


      <div id="wrapper">

        <%= render partial: "navbar" %>
        <div id="page-wrapper">

            <ol class="breadcrumb">
              <%= render_breadcrumbs :tag => :li, :separator => "" %>
            </ol>
            <%= render "messages" %>

          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
      </div>
  </body>
</html>